@import-normalize;

$purple: #5e3867;
$plum: #1f1f42;
$white: #fff;
$gold: #ffc94b;
$blue: #266183;

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 100%;
  background: $blue;
  color: $white;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, section, footer {
  margin: 0;
  padding: 1em;
}

header {
  text-align: center;
  & p:last-child{
    margin-bottom: 0;
  }
}

footer {
  position: sticky;
  bottom: 0;
  background: $blue;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -1px 5px darken($plum, 10%);
}

button:not(.select-item) {
  display: inline-block;
  font-weight: 900;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: $gold;
  padding: .5em 1.25em;
  cursor: pointer;
  user-drag: none;
  border-radius: .5em;
  border: .25em solid $gold;
  flex: 1;
  &:hover {
    background-color: darken($gold, 10%);

  }
}

body,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-size-adjust: .5;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Rakkas', cursive;
  letter-spacing: .05em;
  margin: 0;
  color: $gold;
}

.select-item {
  background: $purple;
  border: .25em solid $purple;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;
  border-radius: 0;
  color: $white;
  margin-bottom: 1em;
  cursor: pointer;
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    color: $white;
  }
  &:hover {
    background: darken($purple, 10%);
  }
  &.is-selected {
    border-color: $gold;
    color: $gold;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/90/Check_mark_23x20_02.svg');
    background-repeat: no-repeat;
    background-position: 101% 47%;
    background-size: contain;
    background-blend-mode: soft-light;
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
      color: $gold;
    }
  }
}

.ui-section {
  flex: 1;
  display: grid;
  background: $plum;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  padding: 2em 1em;
  .select-item {
    margin: 0;
  }
}
